<p>
The regular schedule for our courses is also indicated in the tables below. F, W or S means that a course is taught in the Fall, Winter or Summer terms, respectively. L indicates that a lab is required.
</p>
For courses that are not taught every year, the prefix E indicates that the course is taught on even years (for example, an EW course runs Winter 2012, Winter 2014, etc.), O indicates odd years (for example, an OF course runs Fall 2013, Fall 2015, etc.).
</p>
<p>
Note that some regularly scheduled courses may sometimes not be offered.
</p>
